:root {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(kumo.png);
  background-repeat: repeat;
  background-size: 2%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
